[MASTER]
py-version = 3.11
jobs = 4

[MESSAGES CONTROL]
disable =
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    W0212,  # protected-access
    C0415,  # import-outside-toplevel

[FORMAT]
max-line-length = 100
indent-string = '    '

[DESIGN]
max-attributes = 7
max-arguments = 6
max-locals = 15

[BASIC]
good-names = i,j,k,ex,Run,_,id

[LOGGING]
logging-format-style = new

[SIMILARITIES]
min-similarity-lines = 5